.input__text {
  margin: 0;
  padding: 0 0 10px 0;
  width: 100%;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  transition: border-color 0.15s ease-in;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input__text:hover {
  border-color: rgba(0, 0, 0, 0.8);
  }

.input__text:focus {
  border-color: rgba(0, 0, 0, 0.8);
  outline: none;
}