.form__btn {
  margin-top: 216px;
  margin-bottom: 0;
  padding: 14px 84px;

  background-color: #fff;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.form__btn:hover {
  opacity: 0.85;
}

.form__btn:focus {
  outline: none;
  opacity: 0.85;
}
