.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;

  width: 40px;
  height: 40px;

  border: none;
  background: none;
  background-image: url(../../../images/icons/cross.svg);
  transform: rotate(45deg);
  cursor: pointer;
  transition: opacity 0.15 ease-in;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__close-button:focus {
  outline: none;
  opacity: 0.6;
}

@media screen and (max-width: 599px) {
  .popup__close-button {
    top: -45px;
    right: 6px;

    width: 26px;
    height: 26px;
  }
}