.profile__activity {
  margin-top: 8px;
  margin-bottom: 0;
  max-width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 413px) {
  .profile__activity {
    font-size: 14px;
    line-height: 1.21;
  }
}