.photo__image {
  display: block;

  width: 100%;
  height: 282px;
  
  color: var(--coloron-bg);
  background-color: var(--coloron-bg-low);
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.15s ease-in;
}

.photo__image:hover {
  opacity: 0.9;
}