.form__input {
  padding: 0 0 13px 0;
  border: none;
  background: none;
  color: #CCCCCC;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  border-bottom: 2px solid #CCCCCC;
  margin-bottom: 30px;
  transition: border-color 0.15s ease-in;
}

.form__input:focus {
  outline: none;
  border-bottom-color: white;
  color: white;
}

.form__input:hover {
  border-bottom-color: white;
  color: white;
}

.form__input:last-of-type {
  margin-bottom: 0;
}
