.popup__image-name {
  max-width: 75vh;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
}

@media screen and (max-width: 599px) {
  .popup__image-name {
    max-width: 100%;
  }
}